<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="We have good coffee, marvelous books, and gorgeous flowers.">
    <meta name="robots" content="noindex">
    <meta name="author" content="Darius-Mihai Berinde">
    <meta name="keywords" content="coffee, books, flowers, library, bar, garden">
    <meta name="revisit-after" content="1 day">
    <meta name="category" content="restaurant">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Link to stylesheet-->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!--Favicon-->
    <link rel="favicon" type="image/x-icon" href="../favicon1.ico">
    <!--Link to js file (script)-->
    <script src="../js/script.js"></script>
    <title>The Green Bookmark</title>
</head>
<body>
    <header class="div_header"></header>
        <!--Logo in the header-->
        <img src="images/logo.png" width="202" height="506" id="logo" alt="Logo image" title="The Green Bookmark">
        <!--The name of the shop-->
        <h1 id="company_name">The Green Bookmark</h1>

        <nav>
            <ul id="nav_ul">
                <li>
                    <a href="#" class="nav_link active_link">Home</a>
                </li>
                <li>
                    <a href="#" class="nav_link">Menu</a>
                </li>
                <li>
                    <a href="#" class="nav_link">Books</a>
                </li>
                <li>
                    <a href="#" class="nav_link">Flowers</a>
                </li>
                <li>
                    <a href="#" class="nav_link">Events</a>
                </li>
                <li>
                    <a href="#" class="nav_link">About Us</a>
                </li>
                <li>
                    <a href="#" class="nav_link">Contact Us</a>
                </li>
            </ul>
        </nav>
    </header>
    
</body>
</html>