<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="description" content="The tattoo masterpieces of BloodMoonBreak">
    <meta name="robots" content="noindex">
    <meta name="author" content="Darius-Mihai Berinde">
    <meta name="keywords" content="Tattoo, artist, studio">
    <meta name="revisit-after" content="1 week">
    <meta name="category" content="Tattoo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to the favicon -->
    <link rel="icon" type="image/x-icon" href="../favicon1.ico">
    <!-- Link to the stylesheet -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <title>BloodMoonBreak-Tattoo</title>
</head>

<body>
    <header class="div_header">
        <!-- Logo -->
        <img src="../images/logo.png"  width="2087" height="1395" id="logo" alt="Logo image" title="BloodMoonBreak">
        <!-- Title -->
        <h1 id="main_title">BloodMoonBreak - Tattoo Masterpieces </h1>

        <!-- Navigation container - buttons between pages -->
        <nav>
            <ul id="nav_ul">
                <li>
                    <a href="../index.html" class="nav_link">Home</a>
                </li>
                <li>
                    <a href="./portfolio.html" class="nav_link">Gallery</a>
                </li>
                <li>
                    <a href="./presupuesto.html" class="nav_link">Prices</a>
                </li>
                <li>
                    <a href="#" class="nav_link active_link">Contacts</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2 class="special_titles">Where can you find me?</h2>
        <div>
            Here are the following ways in which you can contact me. Make sure to follow my socials for opportunities of flash or available bookings. 
        </div>
        <div id="contact_container1"> <!-- Phone number and E-mail -->
            <div class="contact_text">Phone:<a href="phone:+34642111111">+34 642 11 11 11</a></div>
            <div class="contact_text">E-mail:<a href="mailto:darius@bloodmoonbreaks.com">darius@bloodmoonbreaks.com</a></div>
        </div>    
        <h3 id="contact_subtitle">Socials</h3>
        <ul id="contact_socials"> <!-- Links to social media -->
                <li><a href="https://wa.me/+34642111111"><img src="../images/socials/whatsapp.png" width="512" height="512" alt="Whastapp number" class="contact_img1"></a></li>
                <li><a href="https://www.instagram.com/bmb_tattoo/"><img src="../images/socials/instagram.png" width="512" height="512" alt="Instagram profile" class="contact_img2"></a></li>
                <li><a href="https://www.facebook.com/"><img src="../images/socials/facebook.png" width="512" height="512" alt="Facebook page" class="contact_img3"></a></li>
        </ul>
        <div id="google_maps"> <!-- Tattoo studio address -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d196.18479954014705!2d-1.3013955550511458!3d38.11793959526375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd647a3da075ccc3%3A0x1b443cee39686e68!2sAv.%20Daniel%20Ayala%2C%2020%2C%2030600%20Archena%2C%20Murcia!5e0!3m2!1sen!2ses!4v1727197598530!5m2!1sen!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <p id="client_disclaimer">
                * Phone calls will only be attended in the following schedule: Monday - Thursday: 09:00 - 15:00* <br>
                ** The bookings are set once the advance payment is transferred or paid in the studio.** <br>
                *** Clients that do not respect the schedule of their booking without a 24 hour notice will lose the advance payment and will have to reschedule for a new one.*** <br>
                **** All clients must be 18 or older. Underage clients must have a legal agreement signed by their legal parent/tutor before proceeding with any service.****
        </p>
    </main>
    
    <footer id="div_footer">
        <div id="copyright_disclaimer">&copy; BloodMoonBreak&reg; 2024. All rights reserved.</div>
        <div id="footer_text">
            Av. Daniel Ayala, 20, <br>
            30600 Archena, <br> 
            Murcia
        </div>
        <ul id="socials_footer">
            <li><a href="https://www.instagram.com/bmb_tattoo/"><img src="../images/socials/instagram.png" width="512" height="512" alt="Instagram profile"></a></li>
            <li><a href="https://www.facebook.com/"><img src="../images/socials/facebook.png" width="512" height="512" alt="Facebook page"></a></li>
            <li><a href="https://wa.me/+34642111111"><img src="../images/socials/whatsapp.png" width="512" height="512" alt="Whastapp number"></a></li>
        </ul>
    </footer>
    
</body>
</html>